{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        
        <div class="row justify-content-md-center">
            
            <div class="col-md-4">
                
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="https://scotiabankfiles.azureedge.net/scotiabank-peru/Profuturo/images/empresas/informacion/aportes-voluntarios-empleador.png" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Empleadores</h4>
                    <p class="card-text">Agregar y editar empleadores</p>
                    <a href="/empleadores" class="btn btn-primary">Entrar</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                
                <div class="card" style="width: 20rem;">
                  <img class="card-img-top" src="http://lnx.cabinas.net/wp-content/uploads/2015/06/mensajes-por-el-dia-del-trabajador.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Empleados</h4>
                    <p class="card-text">Agregar y editar empleados</p>
                    <a href="/empleados" class="btn btn-primary">Entrar</a>
                  </div>
                </div>
                
            </div>
            
        </div>
        
    </div>
{% endblock %}

